// Auto Complete variables
$blocx-autocomplete-position:relative !default;
$blocx-autocomplete-input-width: 100% !default;
$blocx-autocomplete-input-border:2px solid #2699FB !default;
$blocx-autocomplete-input-padding:6.5px !default;
$blocx-autocomplete-input-box-sizing:border-box !default;
$blocx-autocomplete-input-focus-outline:0 !default;
$blocx-autocomplete-border-radius:6px !default;
$blocx-autocomplete-i-position:absolute !default;
$blocx-autocomplete-i-right:10px !default;
$blocx-autocomplete-i-top:7px !default;
$blocx-autocomplete-i-color:#A6ADB4 !default;
$blocx-autocomplete-ul-padding:0 !default;
$blocx-autocomplete-ul-margin:0 !default;
$blocx-autocomplete-ul-list-style:none !default;
$blocx-autocomplete-ul-border: 2px solid #DDDBDA !default;
$blocx-autocomplete-li-padding:10px !default;
$blocx-autocomplete-li-font-size:12px !default;
$blocx-autocomplete-ul-bg-color: #ffffff;


// Auto Complete styles start
.blocx-autocomplete {
    position: $blocx-autocomplete-position;

    &_input {
        width: $blocx-autocomplete-input-width;
        border: $blocx-autocomplete-input-border;
        border-radius: $blocx-autocomplete-border-radius;
        padding: $blocx-autocomplete-input-padding;
        box-sizing: $blocx-autocomplete-input-box-sizing;

        &:focus {
            outline: $blocx-autocomplete-input-focus-outline;
        }
    }

    i {
        position: $blocx-autocomplete-i-position;
        right: $blocx-autocomplete-i-right;
        top: $blocx-autocomplete-i-top;
        color: $blocx-autocomplete-i-color;
        font-size: 16px;
    }

    &_result {
        margin-top: 5px;

        ul {
            border: $blocx-autocomplete-ul-border;
            border-radius: $blocx-autocomplete-border-radius;
            list-style: $blocx-autocomplete-ul-list-style;
            margin: $blocx-autocomplete-ul-margin;
            padding: $blocx-autocomplete-ul-padding;
            position: absolute;
            background:$blocx-autocomplete-ul-bg-color;
            width: 100%;
            z-index: 5;
            box-sizing: border-box;

            li {
                padding: $blocx-autocomplete-li-padding;
                font-size: $blocx-autocomplete-li-font-size;
            }
        }
    }
}

// Auto Complete styles start