html {
  height: 100%; }

body {
  font-size: 15px;
  font-weight: 500;
  height: 100%;
  font-family: "Acumin Pro", sans-serif;
  background: #ffffff;
  margin: 0;
  box-sizing: border-box; }
  body .blocx-padding-0 {
    padding: 0; }
  body .blocx-padding-top-15 {
    padding-top: 15px; }
  body .blocx-padding-left-0 {
    padding-left: 0; }
  body .blocx-padding-left-40 {
    padding-left: 40px; }
  body .blocx-padding-bottom-0 {
    padding-bottom: 0; }
  body .blocx-padding-top-0 {
    padding-top: 0; }
  body .blocx-padding-top-10 {
    padding-top: 10px; }
  body .blocx-padding-top-50 {
    padding-top: 50px; }
  body .blocx-margin-right-20 {
    margin-right: 20px; }
  body .blocx-padding-bottom-10 {
    padding-bottom: 10px; }
  body .blocx-padding-bottom-50 {
    padding-bottom: 50px; }
  body .blocx-padding-left-5 {
    padding-left: 5px; }
  body .blocx-padding-right-0 {
    padding-right: 0; }
  body .blocx-padding-right-5 {
    padding-right: 5px; }
  body .blocx-margin-0 {
    margin: 0 !important; }
  body .blocx-margin-bottom-0 {
    margin-bottom: 0px; }
  body .blocx-margin-top-0 {
    margin-top: 0px; }
  body .blocx-margin-top-10 {
    margin-top: 10px; }
  body .blocx-margin-bottom-10 {
    margin-bottom: 10px; }
  body .blocx-margin-bottom-20 {
    margin-bottom: 20px; }
  body .blocx-margin-right-10 {
    margin-right: 10px; }
  body .blocx-width-40 {
    width: 40%; }
  body .blocx-border-right {
    border-right: 2px solid #EBEDED; }
  body .blocx-border-top-0 {
    border-top: 0; }
  body .blocx-float-left {
    float: left; }
  body .blocx-float-right {
    float: right; }
  body .blocx-text-left {
    text-align: left; }

.container,
.container-full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  .container .blocx-grid,
  .container-full .blocx-grid {
    margin-right: -15px;
    margin-left: -15px; }

@media (min-width: 576px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 768px; } }

@media (min-width: 992px) {
  .container {
    max-width: 992px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@media (min-width: 1600px) {
  .container {
    max-width: 1600px; } }

.blocx-grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  list-style-type: none; }
  .blocx-grid::before, .blocx-grid::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal; }

[class*="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1; }
  [class*="col-"]::before, [class*="col-"]::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal; }
  [class*="col-"] .grid {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: -15px; }

.col-12 {
  width: 100%;
  *width: 99.9%; }

.col-11 {
  width: 91.66667%;
  *width: 91.56667%; }

.col-10 {
  width: 83.33333%;
  *width: 83.23333%; }

.col-9 {
  width: 75%;
  *width: 74.9%; }

.col-8 {
  width: 66.66667%;
  *width: 66.56667%; }

.col-7 {
  width: 58.33333%;
  *width: 58.23333%; }

.col-6 {
  width: 50%;
  *width: 49.9%; }

.col-5 {
  width: 41.66667%;
  *width: 41.56667%; }

.col-4 {
  width: 33.33333%;
  *width: 33.23333%; }

.col-3 {
  width: 25%;
  *width: 24.9%; }

.col-2 {
  width: 16.66667%;
  *width: 16.56667%; }

.col-1 {
  width: 8.33333%;
  *width: 8.23333%; }

@media (min-width: 576px) {
  .col-xs-12 {
    width: 100%;
    *width: 99.9%; }
  .col-xs-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-xs-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-xs-9 {
    width: 75%;
    *width: 74.9%; }
  .col-xs-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-xs-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-xs-6 {
    width: 50%;
    *width: 49.9%; }
  .col-xs-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-xs-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-xs-3 {
    width: 25%;
    *width: 24.9%; }
  .col-xs-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-xs-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
    *width: 99.9%; }
  .col-sm-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-sm-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-sm-9 {
    width: 75%;
    *width: 74.9%; }
  .col-sm-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-sm-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-sm-6 {
    width: 50%;
    *width: 49.9%; }
  .col-sm-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-sm-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-sm-3 {
    width: 25%;
    *width: 24.9%; }
  .col-sm-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-sm-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    *width: 99.9%; }
  .col-md-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-md-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-md-9 {
    width: 75%;
    *width: 74.9%; }
  .col-md-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-md-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-md-6 {
    width: 50%;
    *width: 49.9%; }
  .col-md-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-md-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-md-3 {
    width: 25%;
    *width: 24.9%; }
  .col-md-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-md-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
    *width: 99.9%; }
  .col-lg-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-lg-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-lg-9 {
    width: 75%;
    *width: 74.9%; }
  .col-lg-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-lg-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-lg-6 {
    width: 50%;
    *width: 49.9%; }
  .col-lg-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-lg-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-lg-3 {
    width: 25%;
    *width: 24.9%; }
  .col-lg-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-lg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 1600px) {
  .col-xlg-12 {
    width: 100%;
    *width: 99.9%; }
  .col-xlg-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-xlg-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-xlg-9 {
    width: 75%;
    *width: 74.9%; }
  .col-xlg-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-xlg-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-xlg-6 {
    width: 50%;
    *width: 49.9%; }
  .col-xlg-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-xlg-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-xlg-3 {
    width: 25%;
    *width: 24.9%; }
  .col-xlg-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-xlg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

.col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto; }

@media (min-width: 576px) {
  .col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 768px) {
  .col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 992px) {
  .col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 1200px) {
  .col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 1600px) {
  .col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto; } }

.order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12; }

.order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11; }

.order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10; }

.order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9; }

.order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8; }

.order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7; }

.order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6; }

.order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5; }

.order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4; }

.order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3; }

.order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

.order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

.order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0; }

@media only screen and (min-width: 576px) {
  .order-xs-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .order-xs-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .order-xs-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .order-xs-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .order-xs-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .order-xs-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .order-xs-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .order-xs-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .order-xs-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .order-xs-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .order-xs-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .order-xs-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .order-xs-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 768px) {
  .order-sm-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .order-sm-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .order-sm-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .order-sm-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .order-sm-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .order-sm-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .order-sm-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .order-sm-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .order-sm-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .order-sm-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .order-sm-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .order-sm-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .order-sm-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 992px) {
  .order-md-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .order-md-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .order-md-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .order-md-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .order-md-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .order-md-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .order-md-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .order-md-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .order-md-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .order-md-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .order-md-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .order-md-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .order-md-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 1200px) {
  .order-lg-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .order-lg-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .order-lg-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .order-lg-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .order-lg-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .order-lg-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .order-lg-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .order-lg-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .order-lg-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .order-lg-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .order-lg-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .order-lg-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .order-lg-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 1600px) {
  .order-xlg-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .order-xlg-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .order-xlg-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .order-xlg-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .order-xlg-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .order-xlg-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .order-xlg-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .order-xlg-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .order-xlg-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .order-xlg-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .order-xlg-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .order-xlg-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .order-xlg-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

.offset-11 {
  margin-left: 91.66667%;
  *margin-left: 91.56667%; }

.offset-10 {
  margin-left: 83.33333%;
  *margin-left: 83.23333%; }

.offset-9 {
  margin-left: 75%;
  *margin-left: 74.9%; }

.offset-8 {
  margin-left: 66.66667%;
  *margin-left: 66.56667%; }

.offset-7 {
  margin-left: 58.33333%;
  *margin-left: 58.23333%; }

.offset-6 {
  margin-left: 50%;
  *margin-left: 49.9%; }

.offset-5 {
  margin-left: 41.66667%;
  *margin-left: 41.56667%; }

.offset-4 {
  margin-left: 33.33333%;
  *margin-left: 33.23333%; }

.offset-3 {
  margin-left: 25%;
  *margin-left: 24.9%; }

.offset-2 {
  margin-left: 16.66667%;
  *margin-left: 16.56667%; }

.offset-1 {
  margin-left: 8.33333%;
  *margin-left: 8.23333%; }

@media only screen and (min-width: 576px) {
  .offset-xs-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-xs-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-xs-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-xs-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-xs-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-xs-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-xs-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-xs-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-xs-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-xs-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-xs-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-xs-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 768px) {
  .offset-sm-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-sm-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-sm-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-sm-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-sm-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-sm-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-sm-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-sm-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-sm-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-sm-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-sm-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-sm-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 992px) {
  .offset-md-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-md-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-md-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-md-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-md-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-md-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-md-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-md-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-md-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-md-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-md-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-md-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 1200px) {
  .offset-lg-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-lg-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-lg-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-lg-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-lg-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-lg-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-lg-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-lg-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-lg-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-lg-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-lg-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-lg-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 1600px) {
  .offset-xlg-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-xlg-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-xlg-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-xlg-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-xlg-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-xlg-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-xlg-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-xlg-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-xlg-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-xlg-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-xlg-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-xlg-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

/* Breakpoint sizes */
/* Create the mixin for various screen resolutions */
select {
  border: none;
  width: 25%;
  border-bottom: 1px solid black;
  padding: 5px; }

.blocx-input-group label {
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  line-height: 20px; }

.blocx-input-select {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%; }

.blocx-select-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 13px;
  color: #A6ADB4; }
  .blocx-select-dropdown_button {
    padding: 8px 15px;
    background-color: #fff;
    color: #616161;
    border: 2px solid #EBEDED;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    line-height: 20px; }
    .blocx-select-dropdown_button:focus {
      outline: none;
      border: 2px solid #72ACFF; }
    .blocx-select-dropdown_button .fa-angle-down {
      position: absolute;
      right: 10px;
      top: 12px;
      color: #A6ADB4; }
  .blocx-select-dropdown_list {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 2px solid #EBEDED;
    border-top: 0px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
    transform-origin: top left;
    transform: scale(1, 0);
    transition: all ease-in-out .3s;
    z-index: 2; }
    .blocx-select-dropdown_list.active {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1, 1); }
  .blocx-select-dropdown_list-item {
    display: block;
    list-style-type: none;
    padding: 10px 15px;
    background: #fff;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    color: #616161;
    text-align: left;
    transition: all ease-in-out .3s; }
    .blocx-select-dropdown_list-item:hover {
      background-color: #F6F8F9;
      color: #72ACFF;
      transition: all ease-in-out .3s; }
  .blocx-select-dropdown_button:focus ~ .blocx-select-dropdown_list {
    border: 2px solid #72ACFF;
    border-top: 0px solid transparent; }

.blocx-multi-select-dropdown .blocx-select-dropdown_button.zero-bottom {
  border-bottom: 2px solid #EBEDED;
  border-radius: 6px; }

.blocx-multi-select-dropdown .blocx-select-dropdown_button {
  padding: 4px 15px; }
  .blocx-multi-select-dropdown .blocx-select-dropdown_button .fa-angle-down {
    position: absolute;
    right: 14px;
    top: 8px;
    font-size: 16px;
    color: #A6ADB4; }

.blocx-multi-select-dropdown .blocx-select-dropdown_list-item {
  color: #2B2826;
  font-style: normal;
  font-weight: 400; }

.blocx-multi-select-dropdown .blocx-select-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 13px;
  color: #706E6B;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  font-family: "Acumin Pro", sans-serif; }

.blocx-multi-select-dropdown .blocx-select-dropdown_list {
  border-top: 2px solid #EBEDED;
  margin-top: 8px;
  border-radius: 6px; }

.blocx-multi-select-dropdown .blocx-select-dropdown_button:focus ~ .blocx-select-dropdown_list {
  border-top: 2px solid #EBEDED;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.blocx-multi-select-dropdown .blocx-select-dropdown_button:focus {
  border: 2px solid #EBEDED; }

.blocx-multi-select-dropdown .blocx-select-dropdown_list-item {
  padding-left: 40px;
  position: relative;
  font-size: 12px; }
  .blocx-multi-select-dropdown .blocx-select-dropdown_list-item .blocx-option-selected {
    display: none;
    position: absolute;
    left: 15px;
    top: 15px; }
  .blocx-multi-select-dropdown .blocx-select-dropdown_list-item:hover .blocx-option-selected {
    display: inline-block;
    width: 12px;
    height: 8px; }

.blocx-multi-select-dropdown .blocx-select-dropdown_button:focus ~ .blocx-select-dropdown_list {
  border-color: #EBEDED; }

.blocx-multi-select-dropdown .blocx-select-dropdown_list-item:hover {
  background-color: #EBEDED; }

.blocx-multi-select-dropdown .blocx-select-dropdown_list-item-selected .blocx-option-selected {
  display: inline-block; }

select {
  border: none;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px; }

p {
  margin: 0px; }
